<h2>Eventos</h2>
<hr />

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar" />
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde. Palestrantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.id }}</td>
      <td>
        <img class="img-rounded img-responsive" src="{{ event.imageURL }}" />
      </td>
      <td>{{ event.theme }}</td>
      <td>{{ event.location }}</td>
      <td>
        {{ event.eventDate | date : "dd/MM/yyyy" }}
        <span class="time">{{ event.eventDate | date : "HH:mm" }}</span>
      </td>
      <td>{{ event.numberPeople }}</td>
      <td>{{ event.lote }}</td>
      <td>
        <button class="btn btn-primary">Detalhes</button>
        <button class="btn btn-primary">Editar</button>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
